#header{
    background-color: yellow;
  
}

h1{
    height: 5vh;
    text-align: center;
}

body{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-image: url("https://images.pexels.com/photos/417074/pexels-photo-417074.jpeg?cs=srgb&dl=pexels-souvenirpixels-417074.jpg&fm=jpg");
    background-repeat: no-repeat;
    background-size:cover;
    margin: 19px;
}

#contenedor{
    display: flex;
    border: 2px solid black;
    width: 40%;
    height: 95vh;
    flex-direction: column;
    justify-self: center;
    margin-right: 48px;
}

#contenedores{
    display: flex;
    border: 2px solid black;
    width: 40%;
    height: 95vh;
    flex-direction: column;
    justify-self: center;
}

#contenedores form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: 2px solid black;
    height: 90vh;
 
}

#contenedor form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: 2px solid black;
    height: 90vh;
}

form div{
    display: flex;
    justify-content: space-around;
    color:yellowgreen;
    font-weight: bold;
    text-shadow: 1px 1px black;
}

form input{
    width: 21vw;
    height: 5vh;
    box-shadow: none;
}

form select{
    width: 21.5vw;
    height: 5.5vh
        
}

form label{
    font-size: 20px;
    width: 12em;
}

.botonesFinales{
    width: 15vw;
    height: 5vh;
    background-color: red;
}

.caballito{
    position: absolute;
    top: 50px;
    left:658px;
    animation: animatepumpkin 8s ease-in-out infinite;
    width:12%;  
}

.registros{
  background-color: white;
  padding: 1px;
  border-radius: 10px;
  box-shadow: 0 8px 16px black;
  text-align: center;
  top: 50px;
  left:645px;
  position: absolute;
  height: 455px;
  width: 205px;
}

input {
  padding: 5px;
  width: 40%;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 10px 20px;
  background-color: #6a5acd;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #483d8b;
}


@keyframes animatepumpkin{
    0%,100%{
        transform: translateY(-50px);
    }
    50%{
        transform: translateY(400px);
}
}

input:hover{
    box-shadow: 0px 0px 10px 3px rgb(162, 250, 83 );

}

.select:hover{
    box-shadow: 0px 0px 10px 3px rgb(162, 250, 83 );    
    background-color:  black;
}