body{
   display: flex;
   justify-content: space-around;
   background-image: url(https://images.pexels.com/photos/417074/pexels-photo-417074.jpeg?cs=srgb&dl=pexels-souvenirpixels-417074.jpg&fm=jpg);
   background-repeat:no-repeat;
   background-size: cover;
}

#contenedorGeneral{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#container{
   display: flex;
   flex-direction: column;
   width: 95%;
   height: 600px;
   justify-content: space-between;
   justify-self: center;
   text-align: start;
   border-radius: 3%;
   box-shadow: 0 0 30px;
   padding: 5px; 
   background-color: greenyellow;
   margin: 15px;
}

#container form{
    height: 95%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    font-family: arial, sans-serif;
}

#enviar{
    width: 25%;
    display: flex;
    justify-content: center;
    align-self: end;
    border-radius: 1px;
    background-color: green;
}
#enviar:hover{
    background-color: gray;
}

label{
    display: flex;
    align-self: start;
}

h1 {
   color: blue;
   padding: 5%;
   margin: 5px;
   font-family: arial, sans-serif;
   font-size: 25px;
   background-color: green;
   border-radius: 3%;
}

#registros{
    border-radius: 3%;
    background-color: yellow;
    width: 85%;
    margin-top: auto;
    height: 600px;                                                                      
}

#barraBusqueda{
    display: flex;
    align-items: center;
}

input{
    padding: 5px;
    font-size: 15px;
 }
        
busqueda{
    padding: 8px;
    font-size: 16px;
}

#datos{
    display: flex;
    background-color: brown;
    justify-content: space-around;  
    border: 1px solid black;
}


