#container{
   display: flex;
   border:1px solid black;
   text-align: center;
   flex-direction: column;
   margin:auto;
   padding: 25px;
   width: 205px;
   align-items: center;
   justify-content: space-around;
}

label{
    text-align: center
}

h1{
    color: red;
    text-align: center;
}
